.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

#map_canvas {
  width: 100%;
  height: 90%;
}

.smallPanel {
  margin: 10px;
  padding: 10px;
  background-color:rgba(255,255,255,0.5);
  z-index: 2 !important;
  font-size: 25px;
  position: relative;
}
